logs
*.log
pids
*.pid
*.seed
.grunt
build/Release
node_modules
app/pkg
app/pkg/*
admin/pkg
admin/pkg/*
dump/*
mongodb
.*.sw?
.~*
.tmp
.tern-port
app/bower_components/*
app/bower_components
app/uploads

admin/uploads
tmp/
.vimsession
fe/
fe/*
logos/
logos/*
inout/
inout/*
keys/
keys/*
conf/
conf/*
archive/
archive/*
build/*
src/*.js
.idea/
